scripts/.local/bin/cursor-agent
secrets.fish
repomix-output.xml
dotfiles-repomix-output.xml
systemd/.config/systemd/user/default.target.wants
systemd/.config/systemd/user/timers.target.wants
espanso/.config/espanso/config/default.yml
systemd/.config/systemd/user/espanso.service
scripts/.local/bin/.vagrant
scripts/.local/bin/Vagrantfile
scripts/.local/bin/eza
fish/.config/fish/conf.d/fish_frozen_key_bindings.fish
fish/.config/fish/conf.d/rustup.fish
fish/.config/fish/fish_variables
scripts/.local/bin/bat
scripts/.local/bin/clipse
fcitx5/.config/fcitx5/conf/cached_layouts
scripts/.local/bin/zen
fish/.config/fish/fish_variables
scripts/.local/bin/jdtls.sh
scripts/.local/bin/jdtls
scripts/.local/share/fish/fish_history
